*~
*.agdai
*.bak
*.o
*.hi
*.aux
*.log
*.out
*.pdf
texput.log
MAlonzo
/core/ModuleCalculus/
/core/core
/core/Main
/core/mocal
/micro/micmod
/micro/HierMod/Doc.txt
/micro/HierMod/Par.info
/micro/HierMod/Skel.hs
/micro/HierMod/Test
