*~
*.agdai
*.bak
*.blg
*.o
*.hi
*.dyn_hi
*.dyn_o
*_aux
*.aux
*.log
*.out
*.pdf
Bug*
texput.log
MAlonzo
/core/ModuleCalculus/
/core/core
/core/Main
/core/mocal
/micro/micmod
/micro/HierMod/Doc.txt
/micro/HierMod/Par.info
/micro/HierMod/Skel.hs
/micro/HierMod/Test

/pure/Main
/pure/HierMod/Doc.txt
/pure/HierMod/Par.info
/pure/HierMod/Skel.hs
/pure/HierMod/Test
/notes/medium.bib
/ghc-bug/
/docs/
